.mySlider {
    display: flex !important;
    margin: 0px 35px !important;
    height: 100px;
}

.card {
    justify-content: center;
    padding-left: 10px;
    position: relative;
    top: 25px;
}

.name {
    z-index: 1000;
    font-size: 16px;
    position: absolute;
    top: 15px;
    background-color: #e28668d8;
    justify-content: center;
    display: flex;
    opacity: 0;
    padding-left: 5px;
    width: calc(100% - 10px);
}

.card:hover .name {
    display: flex;
    transition: .5s;
    opacity: 1;
}

.image {
    width: 100%;
    display: block;
}
