.mySlider {
    display: flex !important;
    margin: 0px 35px !important;
    height: 100px;
}
.card {
    justify-content: center;
    padding-left: 10px;
    position: relative;
    top: 25px;
}

.name {
    z-index: 1000;
    font-size: 16px;
    position: absolute;
    top: 15px;
    background-color: #e28668a1;
    justify-content: center;
    display: flex;
    opacity: 1;
    padding-left: 5px;
    width: calc(100% - 10px);
}

.image {
    width: 100%;
    display: block;
}


@media (min-width: 460px){
    .mySlider {
        height: 150px;
    }
    .image {
        height: 104px;
    }
}

@media (min-width: 560px) {
    .mySlider {
        height: 250px;
    }
    .image {
        height: 204px;
    }
}

/* .card:hover .name {
    display: flex;
    transition: .5s;
    opacity: 1;
} */