@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

.container {
  background-color: #ffe2b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  min-height: 100vh;
  width: 50%;
  margin: 2em auto;
  font-family: "Just Another Hand";
  font-weight: 400;
  color: #462c1d;
}

.logo {
  margin-top: 1.3em;
}

.title {
  font-size: 4em;
  margin-top: .3em;
  font-weight: 400;
}

.label {
  display: block;
  font-size: 2.5em;
  /* margin-top: .5em; */
  margin: .7em 0 .5em 0;
}

.container_form {
  width: 90%;
  padding: 0 3em;
}

.field {
  width: 90%;
  font-size: 2em;
  background-color: #ebab95de;
  border-radius: 2em;
  border: none;
  font-family: "Just Another Hand";
  height: 2em;
  padding: .5em .7em;

}

.field::placeholder {
  font-size: 1em;
  color: #462c1d80;
  font-family: "Just Another Hand";
}

.textarea {
  width: 90%;
  font-size: 2em;
  background-color: #ebab95de;
  border-radius: 1em;
  border: none;
  font-family: "Just Another Hand";
  padding: .5em .7em;
}

.textarea::placeholder {
  font-size: 1em;
  color: #462c1d80;
  font-family: "Just Another Hand";
}

.select {
  background-color: #ebab95de;
    font-size: 2em;
    border-radius: 2em;
    color: #462c1d80;
    font-family: "Just Another Hand";
    padding: 0em 0.3em;
    margin-bottom: 1em;
}
.buttonCategory {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-flow: row wrap;
}
.delete {
  background-color: #462c1d;
  color: #e28768;
  font-size: 2.2em;
  font-family: "Just Another Hand";
  padding: 0.2em 0.8em;
  border-radius: 2em;
}

.video {
  background-color: #462c1d;
  color: #e28768;
  font-family: "Just Another Hand";
  font-size: 2em;
  padding: 0.5em 1em;
  border-radius: 1.5em;
}

.submit {
  display: block;
  margin: 2em auto;
  background-color: #462c1d;
  color: #e28768;
  font-family: "Just Another Hand";
  font-size: 3em;
  padding: 0.5em 1em;
  border-radius: 1.5em;
}

.submit:disabled {
  color: #462c1da2;
  background-color: #be735aa5;
}
.error {
  color: rgb(187, 55, 55);
  font-size: 2.3em;
  position: relative;
  bottom: 1.5em;
}

.error_select {
  color: rgb(187, 55, 55);
  font-size: 2.3em;
  position: relative;
  bottom: 0.5em;
}

.error_image {
  color: rgb(187, 55, 55);
  font-size: 2.3em;
  /* position: relative; */
  /* bottom: 0.1em; */
}
