@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffe2b0;
    color: #462c1d;
    font-family: "Just Another Hand";
    font-weight: 400;
}

.user_image {
    display: flex;
    border-radius: 15em;
    margin-top: 3em;
}

.info_user {
    display: flex;
    margin-top: 5em;
}

.container_props {
    flex-direction: column;
    font-size: 3.5em;
    margin-top: .5em;
    margin-right: 1.5em;
}

.container_value {
    margin-left: 1.5em;
    flex-direction: column;
    font-size: 3.5em;
    margin-top: .5em;
}

.container_name {
    display: flex;
}

.container_mail {
    display: flex;
}

.prop_mail {
    margin-top: .3em;

}

.value_mail {
    margin-top: .3em;
}

.prop_password {
    margin-top: .3em;
}

.button_edit {
    border-radius: 15em;
    width: 50px;
    height: 50px;
    margin-top: 2.5em;
    margin-left: 0.7em;
    border: none;
}

.image_edit {
    border-radius: 15em;
}

.edit_password {
    margin-top: .5em;
    font-family: "Just Another Hand", cursive;
    font-weight: 500;
    color: #e28768;
    font-size: 1.1em;
    width: 5.4em;
    height: 1.4em;
    flex-shrink: 0;
    border-radius: 100px;
    background: #462c1d;
}

@media screen and (max-width: 1200px) {
    .user_image {
        margin-top: 3.5em;
        height: 25em;
        width: 25em;
    }

    .container_props {
        margin-right: .7em;
        font-size: 3em;
        margin-top: .3em;
    }

    .container_value {
        margin-left: 1em;
        font-size: 3em;
        margin-top: .3em;
    }

    .button_edit {
        width: 3em;
        height: 3em;
        margin-top: 3.8em;
        margin-left: 0.6em;
    }
    
    .image_edit {
        width: 3em;
        height: 3em;
    }

    .prop_mail {
        margin-top: .9em;
    }
    
    .prop_password {
        margin-top: .8em;
    }

    .edit_password {
        margin-top: .9em;
    }
}


@media screen and (max-width: 700px) {
    .info_user {
        margin-top: 2em;
    }

    .user_image {
        margin-top: 1em;
        width: 12em;
        height: 12em;
    }

    .container_props {
        font-size: 1.6em;
    }

    .container_value {
        font-size: 1.6em;
    }

    .button_edit {
        width: 1.5em;
        height: 1.5em;
        margin-top: 1.9em;
        margin-left: .4em;
    }
    
    .image_edit {
        width: 1.5em;
        height: 1.5em;
    }
}

@media screen and (max-width: 350px) {
    .user_image {
        width: 10em;
        height: 10em;
    }

    .container_props {
        margin-left: .2em;
        font-size: 1.3em;
    }

    .container_value {
        margin-left: .2em;
        font-size: 1.3em;
    }

    .container_mail {
        margin-top: .9em;
    }

    .value_mail {
        margin-top: 0em;
    }

    .button_edit {
        width: 1.2em;
        height: 1.2em;
        margin-top: 1.3em;
        margin-left: .4em;
    }
    
    .image_edit {
        width: 1.2em;
        height: 1.2em;
    }
}