@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.container {
    background: #FFE2B0;
    display: flex;
    flex-direction: column;
    font-family: 'Just Another Hand', cursive;
    color: #462c1d;
    min-height: 100vh;
    margin-top: 0px;
}

.container_logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 1000;
    background: none;
    position: absolute;
    top: 10px !important;
}

.logo {
    display: flex;
    margin-left: 0px;
    z-index: 1000;
    border-radius: 0px 15px 15px 0;
}

.slider {
    display: flex;
    margin-bottom: 30px !important;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

