@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

.container {
  background: #ffe2b0;
  display: flex;
  flex-direction: column;
  font-family: "Just Another Hand", cursive;
  color: #462c1d;
  min-height: 100vh;
  margin-top: 0px;
  font-weight: 500;
}

.container_logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
  background: none;
  /* position: absolute; */
  /* top: 10px !important; */
}

.logo {
  display: flex;
  margin-left: 0px;
  z-index: 1000;
  border-radius: 0px 15px 15px 0;
}

.slider {
  display: flex;
  margin-bottom: 2.5em;
}

.title {
  text-align: center;
  margin-top: 25px;
  font-size: 6em;
  font-weight: 500;
}

.show {
  position: fixed;
  bottom: 1.5em;
  right: 1em;
  z-index: 999;
}
.scrollButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ef6a3d;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 800;
  color: white;
  border: none;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 4em;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 3em;
  }
}
