@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

.container {
    background: #FFE2B0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    /* display: none; */
}

.button {
    background: transparent;
    border: none;
    z-index: 10;
    display: flex;
    position: relative;
    margin-top: 12.5px;
    right: 42.7px;
}

.search_container {
    align-content: center;
    display: flex;
    justify-content: center;
}

.search {
    border-radius: 250px;
    border: none;
    background: #e286688c;
    width: 280px;
    height: 40px;
    margin-left: 28.5px;
    margin-top: 10px;
}

.search::placeholder {
    color: #462c1d;
    font-family: 'Just Another Hand', cursive;
    font-size: 27px;
    padding-left: 20px;
}