.nav_input {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_text {
  background-color: #eeb299b0;
  border: none;
  border-radius: 3em;
  width: 80%;
  font-size: 3em;
  height: 71px;
  font-family: "Just Another Hand", cursive;
  padding-left: 0.7em;
  font-weight: 500;
}

.input_text::placeholder {
  color: black;
  font-family: "Just Another Hand", cursive;
  font-weight: 500;
}

.searchButton {
  background: transparent;
  border: none;
  display: flex;
  position: relative;
  right: 6em;
}

.lupa {
  position: relative;
}

@media screen and (max-width: 800px) {
  .nav_input {
    display: none;
  }

  .image {
    width: 5em;
    display: flex;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 3em;
    display: flex;
    align-self: center;
  }
}
