@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

.container_menu {
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: red; */
  /* display: flex;
  justify-content: flex-start;
  z-index: 1000; */
}

.linea {
  background-color: #462c1d;
  color: #462c1d8d;
  width: 5em;
}

.no_line {
  display: none;
}

.container_open {
  /* padding: 2em; */
  /* top: 0;
  right: -14em; */
  /* position: absolute; */

  align-items: flex-start;
  font-family: "Just Another Hand";
  font-weight: 500;
  color: transparent;
  color: #462c1d;
  flex-direction: column;
  display: flex;
  position: fixed;
  width: 25em;
  min-height: 100vh;
  background: transparent;
  z-index: 1000;
  /* right: -25em; */
  /* transition: right 0.6s ease-out, background-color 0.6s ease-in-out, color 0.5s;*/
  background-color: #f5a88eeb;
  top: 0;
  right: 0;
  transition: transform 0.5s ease-in-out;
}

.container_close {
  position: absolute;
  justify-content: flex-end;
  top: 0;
  right: 10em;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
  top: 0;
  right: -14em;
}

.button_openMenu {
  border: none;
  /* position: absolute; */
  border-radius: 50%;
  margin: 1.5rem 0 0 2rem;
  opacity: 1;
}
/* .container_categorias {
  display: flex;
} */

.lista_menu {
  text-align: center;
  align-self: center;
  justify-items: center;
  font-size: 5em;
  list-style: none;
  margin-top: 0.7em;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.menu_open {
  opacity: 1;
}

.lista_categorias {
  /* text-align: center; */
  /* align-self: center; */
  font-size: 0.8em;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* margin-top: 0.7em; */
}

.lista_categorias li {
  justify-content: center;
}

.image_prueba {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .image {
    width: 5em;
    display: flex;
    align-self: flex-end;
  }
  .container_open {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 3em;
    /* display: flex;
    align-self: flex-end; */
  }
}

@media screen and (max-width: 500px) {
  .container_open {
    /* width: 25em; */
    transition: right 0.5s ease-out, background-color 0.6s ease-in-out,
      color 0.5s, width 0.5;
  }

  .open {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .image_prueba {
    width: 59px;
    height: 59px;
  }

  /* .container_open { */
  /* right: -18rem; */
  /* transition: right 0.5s ease-out, background-color 0.6s ease-in-out, */
  /* color 0.5s, width 0.5; */
  /* } */

  .open {
    right: 0;
  }

  .button_openMenu {
    margin: 3.5rem 0 0 2rem;
  }

  .lista_menu {
    font-size: 3rem;
  }
}
